{
  "presets": [
    "react-native"
  ],
  "env": {
    "development": {
      "sourceMaps": "inline"
    },
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}
